#login-form {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
  }
  h1{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-btn:hover {
    background-color: #3e8e41;
  }
  #error {
    color: red;
  }
  