* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  background-image: url('./Images/register.jpeg');
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #444;
  background-color: #f1f1f1;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
}

button[type="submit"] {
  display: block;
  width: 50%;
  height: 50%;
 }

 .btn:hover {
  box-shadow: 3px 8px 22px rgba(94,28,68,.15);
  transform: scale(1.1);
  transition: .2s ease-in-out;
}
button[type="submit"]{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}