.container {
  display: flex;
  flex-direction: row;
}

.signup-image {
  flex-basis: 70%;
  border: none; /* Remove border for the image */
  margin-top: -9px;
  margin-left: -8px;
}

.signup-box {
  flex-basis: 30%;
  padding-left: 33px;
  padding-right: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc; /* Add border to the 
  signup box */

  margin-bottom: 60px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 60px;
  box-shadow: 4px 4px 6px #ccc;


}

.signup-box h1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.name-fields {
  display: flex;
  justify-content: space-between;
}

.name-fields .input-field {
  flex-basis: 48%; /* Adjust the width for first name and last name fields */
}

.input-field {
  margin-bottom: 13px;
}

.input-field label {
  font-weight: bold;
  font-size: larger;
}

.input-field input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}

#signup {
  background-color: #4caf50;
  color: white;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 104%;
  margin-top: 45px;
  

}

#signup:hover {
  background-color: #3e8e41;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.para-2 {
  margin-top: 20px;
  text-align: center;
}

#error1 {
  color: red;
}